In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

print('Imported dependencies!')

Imported dependencies!

# Reading data:

In [23]:
# Reading the files and saving them into a list:
data_files = ["ap_2010.csv", 
              "class_size.csv", 
              "demographics.csv", 
              "graduation.csv", 
              "hs_directory.csv", 
              "sat_results.csv"
             ]

# Creating empty dictionary:
data = {}

# Iterating over each file and saving it in the dictionary:
for i in data_files:
    d = pd.read_csv(i)
    key_name = i.replace('.csv', '')
    data[key_name] = d
    
print('Data read and saved in variable!')

Data read and saved in variable!

# Reading surveys text files and changing format:

In [24]:
# Reading the files and saving them into a variable:
all_survey = pd.read_csv('all_survey.txt', delimiter='\t', encoding='windows-1252')
d75_survey = pd.read_csv('d75_survey.txt', delimiter='\t', encoding='windows-1252')

# Concatenating both variables and saving it into a single variable:
survey = pd.concat([all_survey, d75_survey], axis=0)

# Changing column 'dbn' to 'DBN' to mantain consistency:
survey['DBN'] = survey['dbn']

# Filtering columns that will be used later:
survey_columns = ["DBN", 
                "rr_s", 
                "rr_t", 
                "rr_p", 
                "N_s", 
                "N_t", 
                "N_p", 
                "saf_p_11", 
                "com_p_11", 
                "eng_p_11", 
                "aca_p_11", 
                "saf_t_11", 
                "com_t_11", 
                "eng_t_10", 
                "aca_t_11", 
                "saf_s_11", 
                "com_s_11", 
                "eng_s_11", 
                "aca_s_11", 
                "saf_tot_11", 
                "com_tot_11", 
                "eng_tot_11", 
                "aca_tot_11",]

# Saving columns to variable survey:
survey = survey.loc[:, survey_columns]

# Adding survey to data dictionary:
data['survey'] = survey
print(data['survey'].head())

      DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

      ...      eng_t_10  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0     ...           NaN       7.9       NaN       NaN       NaN       NaN
1     ...           NaN       9.1       NaN       NaN       NaN       NaN
2     ...           NaN       7.5       NaN       NaN       NaN       NaN
3     ...           NaN       7.8       6.2       5.9       6.5       7.4
4     ...           NaN       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:37: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

# Adding 'DBN' column to 'hs_directory':

In [49]:
# Changing column 'dbn' to 'DBN' to mantain consistency:
data['hs_directory']['DBN'] = data['hs_directory']['dbn']
data['hs_directory']['DBN'].head()

0    17K548
1    09X543
2    09X327
3    02M280
4    28Q680
Name: DBN, dtype: object

# Converting locations to numeric values in hs_directory file:

In [57]:
# Creating functions to filter both longitudes and latitudes from file:
def find_lat(input_str):
    lat = re.findall('\(.+\)', input_str)
    lat = lat[0].split(',')
    lat = lat[0].replace('(', '')
    return lat

def find_lon(input_str):
    lat = re.findall('\(.+\)', input_str)
    lat = lat[0].split(',')
    lat = lat[1].replace(')', '').strip()
    return lat

# Applying functions to columns in file:
data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(find_lat)
data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(find_lon)

data['hs_directory']['lat'] = pd.to_numeric(data['hs_directory']['lat'], errors='coerce')
data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lon'], errors='coerce')

data['hs_directory'].head()

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213,"3,029,686","3,011,870,001",Crown Heights South ...,17K548,40.670299,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135,"2,004,526","2,026,340,001",Morrisania-Melrose ...,09X543,40.827603,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209,"2,008,336","2,028,590,077",West Concourse ...,09X327,40.842414,-73.916162
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29,"1,001,388","1,001,130,100",Chinatown ...,02M280,40.710679,-74.000807
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,"1,267","4,539,721","4,068,580,050",Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810,-73.806500

# Converting values to numeric values in sat_results file:

In [67]:
# Creating variable with columns that need to be changed:
cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']

# Iterating through the variable and changing them to numeric values:
for i in cols:
    data['sat_results'][i] = pd.to_numeric(data['sat_results'][i], errors='coerce')
    
# Creating column with all the SAT scores:
data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]
data['sat_results'].dtypes

DBN                                 object
SCHOOL NAME                         object
Num of SAT Test Takers              object
SAT Critical Reading Avg. Score    float64
SAT Math Avg. Score                float64
SAT Writing Avg. Score             float64
sat_score                          float64
dtype: object

# Creating 'DBN' column in class_size file:

In [39]:
# Creating a function so CSD has at least 2 digits:
def padding_csd(input_str):
    for i in input_str:
        if len(str(i)) >= 2:
            return str(i)
        else:
            return str(i).zfill(2)
        
new_csd = padding_csd(data['class_size']['CSD'])
data['class_size']['CSD'] = new_csd
data['class_size']['DBN'] = data['class_size']['CSD'] + data['class_size']['SCHOOL CODE']
data['class_size']['DBN'].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

# Condesing class_size file to only demonstrate grades between 9-12 & program type is GEN ED:

In [53]:
# Creating variables to work with dataset:
class_size = data['class_size']
class_size = class_size[class_size['GRADE '] == '09-12']
class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']
class_size.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
225,01,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63,3.0,21.0,19.0,25.0,STARS,NaN,01M292
226,01,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79,3.0,26.3,24.0,31.0,STARS,NaN,01M292
227,01,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38,2.0,19.0,16.0,22.0,STARS,NaN,01M292
228,01,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69,3.0,23.0,13.0,30.0,STARS,NaN,01M292
229,01,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53,3.0,17.7,16.0,21.0,STARS,NaN,01M292

# Condensing repeated schools in class_size file:

In [55]:
class_size = class_size.groupby('DBN').agg(np.mean)
class_size.reset_index(inplace=True)
data['class_size'] = class_size
data['class_size'].head()

,DBN,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01K002,1.5,19.0,18.0,20.0,NaN
1,01K014,8.0,23.6,20.0,27.5,NaN
2,01K030,2.0,29.5,29.0,30.0,NaN
3,01K041,7.0,27.1,19.0,33.0,NaN
4,01K050,3.0,29.3,27.0,31.0,NaN

# Condensing demographics file:

In [61]:
# Selecting only 20112012 results:
data['demographics'] = data['demographics'][data['demographics']['schoolyear'] == 20112012]
data['demographics'].head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

# Condensing graduation file:

In [62]:
data['graduation'] = data['graduation'][data['graduation']['Cohort'] == '2006']
data['graduation'] = data['graduation'][data['graduation']['Demographic'] == 'Total Cohort']
data['graduation'].head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.3000000000000007%,14.9%,25,29.8%,5,6%
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4%,91,47.2%,86.7%,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%

# Converting locations to numeric values in ap_2010 file:

In [66]:
# Creating variable with desired columns to convert:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

# Iterating through columns:
for i in cols:
    data['ap_2010'][i] = pd.to_numeric(data['ap_2010'][i], errors='coerce')
    
data['ap_2010'].dtypes

DBN                                      object
SchoolName                               object
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

# Combining the datasets:

In [70]:
# Saving 'sat_result' in a variable:
combined = data['sat_results']

# Combining 'sat_result' with 'ap_2010' & 'graduation' dataset based on 'DBN':
merge_left = ['ap_2010', 'graduation']

# Combining 'sat_result' with 'ap_2010' & 'graduation' dataset based on 'DBN':
merge_inner = ['class_size', 'demographics', 'survey', 'hs_directory']

# Iterating and merging in 'left':
for i in merge_left:
    combined = combined.merge(data[i], how='left', on='DBN')

# Iterating and merging in 'inner':
for i in merge_left:
    combined = combined.merge(data[i], how='inner', on='DBN')
    
combined.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName_x,AP Test Takers _x,Total Exams Taken_x,...,Regents w/o Advanced - n_y,Regents w/o Advanced - % of cohort_y,Regents w/o Advanced - % of grads_y,Local - n_y,Local - % of cohort_y,Local - % of grads_y,Still Enrolled - n_y,Still Enrolled - % of cohort_y,Dropped Out - n_y,Dropped Out - % of cohort_y
0,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
1,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
2,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332.0,557.0,316.0,1205.0,LOWER EASTSIDE PREP,24.0,26.0,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%
3,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
4,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.0,375.0,362.0,1111.0,High School of Hospitality Management,NaN,NaN,...,49,65.3%,84.5%,8,10.7%,13.8%,11,14.7%,5,6.7%

# Calculating the mean for NaN values:

In [73]:
# Obtaining the mean values:
combined_mean = combined.mean()

# Adding the mean values to NaN values:
combined = combined.fillna(combined_mean)

# Adding 0 to NaN values after finding mean:
combined = combined.fillna(0)
combined.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName_x,AP Test Takers _x,Total Exams Taken_x,...,Regents w/o Advanced - n_y,Regents w/o Advanced - % of cohort_y,Regents w/o Advanced - % of grads_y,Local - n_y,Local - % of cohort_y,Local - % of grads_y,Still Enrolled - n_y,Still Enrolled - % of cohort_y,Dropped Out - n_y,Dropped Out - % of cohort_y
0,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.000000,49.000000,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
1,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.000000,21.000000,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
2,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332.0,557.0,316.0,1205.0,LOWER EASTSIDE PREP,24.000000,26.000000,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%
3,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.000000,377.000000,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
4,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.0,375.0,362.0,1111.0,High School of Hospitality Management,121.436123,184.339207,...,49,65.3%,84.5%,8,10.7%,13.8%,11,14.7%,5,6.7%

# Creating a school_dist column:

In [74]:
# Creating function that extracts the first 2 indexes:
def extract_two_indexes(input_str):
    return input_str[:2]

combined['school_dist'] = combined['DBN'].apply(extract_two_indexes)
combined['school_dist'].head()

0    01
1    01
2    01
3    01
4    02
Name: school_dist, dtype: object

# Finding correlations in dataset:

In [76]:
correlations = combined.corr()
correlations = combined['sat_score']
correlations.head()

0    1172.0
1    1149.0
2    1205.0
3    1621.0
4    1111.0
Name: sat_score, dtype: float64

# Plotting correlation between 'sat_scores' and 'survey_columns':

In [90]:
correlations['sat_score'][survey_columns].plot.bar()
plt.show()

KeyError: 'sat_score'